



.footer-detail {
  bottom: 10px;
  position: absolute;
  color: red;
  margin-left: 490px;
  margin-bottom: 40px;
  

  
  

}

.footer {
  display: flex;
  background: linear-gradient(45deg,#7462ff, #f4aeff,#A7C7E7);
  border: solid;
  height: 100px;
  margin-top: 1800px;
  width: 100%;
  right: 0;
  position: absolute;
  text-align: center;
  bottom: -3350px;
  left: 0;

}
  


.spiritanimals {
  margin-left: 60px;
  position: absolute;
  color: red;
}

@media screen and (max-width: 767px) {
  

  
  .footer {
    
    background: linear-gradient(45deg,#7462ff, #f4aeff,#A7C7E7);
    display: flex;
    height: 100px;
    margin-top: 2200px;
    width: 605px;
    position: absolute;
    text-align: center;
    bottom: 0;
    top: 2000px;
    
  }
  
  
  
  .footer-detail {
    bottom: 0px;
    position: absolute;
    color: red;
    margin-left: 130px;
    margin-bottom: 55px;
    
    
  }

  .spiritanimals {
    margin-left: 60px;
    position: absolute;
    color: red;
  }

}