a{
  text-decoration: none;
}


.menu-container {
  position: fixed;
  height: 100vh;
  z-index: 0;
  lefT: 0;
  
}

.aespa-profile-logo {
  width: 100px;
  background-color: rgb(228,131,244);
  border-radius: 12px;
  margin-left: 50px;
  box-shadow: 5px 5px 10px rgba(138,43,226);
  transition: box-shadow 0.15s;
}


.aespa-video-logo {
  width: 100px;
  background-color: rgb(228,131,244);
  border-radius: 12px;
  margin-left: 50px;
  transition: box-shadow 0.15s;
  
}









@media screen and (max-width: 414px) {
  .menu-container {
    position: fixed;
    height: 110vh;
    z-index: 0;
    lefT: 0;
    top: 0;
    bottom: 0;
  }
}

.logo-container {
  display: flex;
  margin-top: 350px;
  justify-content: center;
  margin-right: 35px;
  

  

}

.container {
  background: linear-gradient(45deg,#7462ff, #f4aeff,#A7C7E7);
  width: 100%;
  height: 3800px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;

  
}


  .container {
  background: linear-gradient(45deg,#7462ff, #f4aeff,#A7C7E7);
  width: 100%;
  height: 4200px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  }

  


.aespa-container {
  grid-template-columns: 100px 1fr;
}

.icon-name {
  margin-left: 64px;
  color: #B65FCF;
  margin-top: 8px;
}

.icon-name-video {
  margin-left: 70px;
  color: #B65FCF;
  margin-top: 8px;
}


.aespa-profile-logo {
  width: 100px;
  background-color: rgb(228,131,244);
  border-radius: 12px;
  margin-left: 35px;
  box-shadow: 5px 5px 10px rgba(138,43,226);
  
}




.aespa-video-logo {
  width: 100px;
  background-color: rgb(228,131,244);
  border-radius: 12px;
  margin-left: 45px;
  box-shadow: 5px 5px 10px  rgba(138,43,226);
  
  
}

.design {
  
  width: 380px;
  border-radius: 40%;
  position: absolute;
  
}

.sidebar-left {
  position: absolute;
  left: -45px;
  margin-left: 56px;
  height: 120px;
  top: -30px;
  

}










