

.sidebar-left {
  position: absolute;
  left: -30px;
  margin-left: 50px;
  height: 120px;
  top: -31px;
  z-index: 5000;
}


.design {
  width: 410px;
  border-radius: 40%;
}

@media screen and (max-width: 414px) {
  .sidebar-left {
    position: absolute;
    left: -37px;
    margin-left: 56px;
    height: 120px;
    top: 30px;
    

  }

  


  
  
  video-link {
    display: block;
  }

  profile-link {
    display: block;
  }
  
  
}